<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friend List</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="home"
            >Home <span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="create-post">Add Post</a>
          <a class="nav-item nav-link" href="friend">Friends</a>
          <a class="nav-item nav-link disabled" href="">MyProfile</a>
          <a class="nav-item nav-link" href="/view/logout">Logout</a>
        </div>
      </div>
    </nav>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Number</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% users.forEach(function(user){ %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.email %></td>
            <td><%= user.mobile %></td>
            <td>
              <form action="/request/<%= user._id%>" method="POST">
                <button type="submit" class="btn btn-primary">Send Request</button>
              </form>
            </td>
          </tr>
          <% }) %>
      </tbody>
    </table>
  </body>

</html>
